<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>推送tools</title>
</head>
<body>

<script type="text/javascript" src="/jquery/jquery-3.2.1.min.js"></script>

<script type="text/javascript">

    function doSubmit() {
        if (confirm("确定提交?")) {
            var file = document.getElementById('sourceData');
            var value = file.value;
            if (value == "") {
                alert("请选择您需要上传的文件！");
                return;
            }
            if (!/.(txt|TXT)$/.test(value)) {
                alert("文本类型必须是.txt或者.TXT");
                return;
            }

            $("#pushFrom").submit();
            $("#pushFrom")[0].reset();

        }
    }

</script>
<form enctype="multipart/form-data" id="pushFrom" action="/push/process" method="post">
    <input type="hidden"/>
    <table>
        <tr>
            <td>源数据:<input id="sourceData" name="sourceData" type="file"/></td>
        </tr>
        <tr>
            <td>分割数量:
                <select name="splitNumber">
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>选择版本:
                <label><input checked="checked" name="version_ios" type="checkbox" value="true"/>IOS </label>
                <label><input checked="checked" name="version_android" type="checkbox" value="true"/>Android </label>
            </td>
        </tr>
        <tr>
            <td>选择字段:
                <label><input checked="checked" name="show_phone" type="checkbox" value="true"/>phone </label>
                <label><input checked="checked" name="show_msgid" type="checkbox" value="true"/>msgid </label>
            </td>
        </tr>
        <tr>
            <td><input type="button" value="提交" onclick="doSubmit()"/></td>
        </tr>
    </table>

</form>


</body>
</html>